.header-container{
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    height: 50px;
    padding: var(--spacing-small);
    background: var(--color-medium);
}
.header-counter{
    margin-left: auto;
    padding-right: var(--spacing-large);
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}